body {
    background: linear-gradient(to bottom right, #0a0a0a, #1a1a1a);
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgba(20, 20, 20, 0.85); /* glassy black */
    backdrop-filter: blur(6px);
    max-width: 90%;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.2);
    border: 1px solid rgba(255, 0, 0, 0.3);
    color: #ff4b4b;
}

h1 {
    m
